<h1>Listing watchlists</h1>

<table>
  <thead>
    <tr>
      <th>Watchlist Auction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |auction| %>
      <tr>
        <td><%= auction.item_name%></td>
        <td><%= link_to 'See Auction', "/auctions/#{auction.auction_id}" %></td>
        <td><%= link_to 'Delete from Watchlist', "/watchlists/#{auction.auction_id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

