<h1>New watchlist</h1>

<%= form_tag "/watchlists/#{params[:id]}/create" do %>

  <div class="field">
    <%= label_tag :watchlist_name %><br>
    <%= text_field_tag :watchlist_name %>
  </div>
  <div class="actions">
    <%= submit_tag "Create Watchlist" %>
  </div>
<% end %>

