<table>
  <thead>
    <tr>
      <th>Auction Bids</th>
      <th>Bidder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= "Bid Amount: " + bid.amount.to_s %></td>
        <td><%= link_to "See Bidder", "/users/#{bid.bidder_id}" %></td>   
      </tr>
    <% end %>
  </tbody>
</table>

<br>