<table>
  <col width="200">
  <col width="200">
  <thead>
    <tr>
      <th>User Bids</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |array| %>
      <% bid = array[0] %>
      <% bidder = array[1] %>
      <tr>
        <td><%= "Bid Amount: " + bid.amount.to_s %></td>
        <td><%= link_to "See Auction", "/auctions/#{bid.auction_id}" %></td>   
      </tr>
    <% end %>
  </tbody>
</table>

<br>