<p id="notice"><%= notice %></p>

<p>
  <strong>Shopping Cart:</strong>
  <% @items.each do |item| %>
  	<@= "Item name: " + item.item_name %><br>
  	<@= item.item_description %>
  	<@= item.item_price @>
  <% end %>
</p>

<%= link_to 'Back', shopping_carts_path %>
